@import "tailwindcss";

.bg_gray{
  background-color: rgb(248, 248, 248);
}
@layer utilities {
  .shimmer-hover {
    position: relative;
    overflow: hidden;
  }

  .shimmer-hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
  }

  .shimmer-hover:hover::after {
    animation: shimmer 0.8s forwards;
  }

  @keyframes shimmer {
    100% {
      left: 125%;
    }
  }
}



* {
  scrollbar-width: thin;
  scrollbar-color: #cfcdcd #f3f4f6;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f3f4f6;
}
::-webkit-scrollbar-thumb {
  background-color: #ec4899;
  border-radius: 10px;
  border: 2px solid #f3f4f6;
}

